* {margin: 0; padding: 0;}

body{
	margin: auto;
	width: auto;
	color: #ffffff;
	background: url(links/dtt.png); 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}
	
#timeline {
	position: relative;
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}	